---
services:
  db:
    image: postgres:16
    container_name: django_db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - proxy

  backend:
    build: ./backend
    container_name: django_backend
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://django:django123@db:5432/django_db
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.django.rule=Host(`api.franjpg.com`)"
      - "traefik.http.routers.django.entrypoints=websecure"
      
      # --- PASO CRÍTICO: APLICAR MIDDLEWARE CORS ---
      - "traefik.http.routers.django.middlewares=cors-header@docker" 
      
      # 1. Definir el middleware CORS (permite los dominios y métodos)
      - "traefik.http.middlewares.cors-header.headers.accesscontrolalloworiginlist=https://teacher.franjpg.com,https://student.franjpg.com"
      - "traefik.http.middlewares.cors-header.headers.accesscontrolallowmethods=GET,POST,PUT,DELETE,OPTIONS"
      
      # 2. Permitir el encabezado Authorization (JWT) y Content-Type
      - "traefik.http.middlewares.cors-header.headers.accesscontrolallowheaders=Authorization,Content-Type"
      
      # 3. Permitir credenciales (buena práctica para JWT y CORS)
      - "traefik.http.middlewares.cors-header.headers.accesscontrolallowcredentials=true"
      # --- FIN MIDDLEWARE CORS ---

  frontend_student:
    build: ./frontendStudent
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontendStudent.rule=Host(`student.franjpg.com`)"
      - "traefik.http.routers.frontendStudent.entrypoints=websecure"
    depends_on:
      - backend

  # --- FRONTEND 2 (Profesor/Admin) ---
  frontend_teacher:
    build:
      context: ./frontendTeacher
      args:
        - EXPO_PUBLIC_KEY_B64=${RSA_PUBLIC_KEY_B64}
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontendTeacher.rule=Host(`teacher.franjpg.com`)"
      - "traefik.http.routers.frontendTeacher.entrypoints=websecure"
    depends_on:
      - backend

networks:
  proxy:
    external: true

volumes:
  postgres_data: