---
services:
  db:
    image: postgres:16
    container_name: django_db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - proxy

  backend:
    build: ./backend
    container_name: django_backend
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://django:django123@db:5432/django_db
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.django.rule=Host(`api.franjpg.com`)"
      - "traefik.http.routers.django.entrypoints=websecure"

  frontend_student:
    build: ./frontendStudent
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontendStudent.rule=Host(`student.franjpg.com`)"
      - "traefik.http.routers.frontendStudent.entrypoints=websecure"
    depends_on:
      - backend

  # --- FRONTEND 2 (Profesor/Admin) ---
  frontend_teacher:
    build: ./frontendTeacher
    args:
        - EXPO_PUBLIC_KEY_B64=${RSA_PUBLIC_KEY_B64}
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontendTeacher.rule=Host(`teacher.franjpg.com`)"
      - "traefik.http.routers.frontendTeacher.entrypoints=websecure"
    depends_on:
      - backend

networks:
  proxy:
    external: true

volumes:
  postgres_data:
