services:
  db:
    image: postgres:16
    container_name: django_db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # Opcional: solo si necesitas acceder a la DB desde tu PC
    networks:
      - internal_net

  backend:
    build: ./backend
    container_name: django_backend
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - django_media:/app/media
    environment:
      - DATABASE_URL=postgresql://django:django123@db:5432/django_db
    ports:
      - "8000:8000" # Django suele correr en el 8000
    networks:
      - internal_net

  frontend_student:
    build: ./frontendStudent
    container_name: frontend_student
    networks:
      - internal_net
    depends_on:
      - backend
    ports:
      - "8081:80" # Mapea localhost:3001 al puerto 80 del contenedor (asumiendo nginx)

  frontend_teacher:
    build:
      context: ./frontendTeacher
      args:
        - EXPO_PUBLIC_KEY_B64=${RSA_PUBLIC_KEY_B64}
    container_name: frontend_teacher
    networks:
      - internal_net
    depends_on:
      - backend
    ports:
      - "8082:80" # Mapea localhost:3002 al puerto 80 del contenedor

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheusPiD
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml 
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=15d' 
    ports:
      - "9090:9090"
    networks:
      - internal_net

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node_exporterPiD
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/roots:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - "9100:9100"
    networks:
      - internal_net
  
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.0
    container_name: cadvisorPiD
    restart: unless-stopped
    privileged: true 
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - "8080:8080"
    networks:
      - internal_net  
      
  grafana:
    image: grafana/grafana:latest
    container_name: grafanaPiD
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge

volumes:
  postgres_data:
  prometheus_data:
  grafana_data:
  django_media:
