---
services:
  db:
    image: postgres:16
    container_name: django_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - proxy

  backend:
    build: ./backend
    container_name: django_backend
    restart: unless-stopped
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://django:django123@db:5432/django_db
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.django.rule=Host(`api.franjpg.com`)"
      - "traefik.http.routers.django.entrypoints=websecure"
    
  frontend_student:
    build: ./frontend_student
    ports:
      - "3001:80"  # Accede en http://localhost:3000
    depends_on:
      - backend

  # --- FRONTEND 2 (Profesor/Admin) ---
  frontend_teacher:
    build: ./frontend_teacher # O como se llame la carpeta
    ports:
      - "3002:80"  # Accede en http://localhost:3001
    depends_on:
      - backend

networks:
  proxy:
    external: true

volumes:
  postgres_data:
